<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To Do App</title>
		<link rel="stylesheet" href="http://localhost:8080/static/css/styles.css" />
	</head>
	<body>
		<div class="dashboard">
			<a href="/" class="dashboard-btn">Dashboard</a>
			<a href="/todo" class="dashboard-btn">Todos</a>
			<a href="/add-todo" class="add-todo-btn">+ Add NEW todo</a>
		</div>
	</body>
</html>
