@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Mukta', sans-serif;
	font-size: 1.6rem;
	background: #1e213b;
	color: #e4e4e4;
}

.dashboard {
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 120rem;
	max-width: 100%;
	margin: 5rem auto;
	padding: 3rem;
	border-radius: 1rem;
	-webkit-box-shadow: 0px 0px 92px 10px rgba(11, 23, 36, 1);
	-moz-box-shadow: 0px 0px 92px 10px rgba(11, 23, 36, 1);
	box-shadow: 0px 0px 92px 10px rgba(11, 23, 36, 1);
}

.dashboard-btn {
	text-decoration: none;
	font-weight: bold;
	color: #1f213c;
}

.add-todo-btn {
	background: #9fa2ff;
	color: #ffffff;
	border-radius: 0.5rem;
	padding: 1rem;
	text-decoration: none;
}

.todo-home-dashboard {
	height: 100vh;
	width: 100%;
}

.container {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: space-around;
	width: 100%;
}

.todo-container {
	background: #232744;
	padding: 2rem;
	width: 50rem;
	margin: 2rem;
	-webkit-box-shadow: 0px 0px 10px 10px rgb(110, 79, 79);
	-moz-box-shadow: 0px 0px 10px 10px rgb(20, 105, 105);
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.13);
}

.todo {
	display: flex;
	flex-flow: row wrap;
}

.todo-image {
	width: 10rem;
	height: 10rem;
	background: #0e1021;
	border-radius: 50%;
	overflow: hidden;
}

.todo-image img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.todo-description {
	width: 30rem;
}

.todo-description ul {
	margin-left: 5rem;
	list-style: none;
}

.todo-description a {
	font-size: 1.8rem;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 2rem;
	display: block;
	padding: 0.3rem;
	background: #1e213b;
	text-align: center;
}

.todo-notes {
	height: 10rem;
}

.priority-Low {
	background: rgb(12, 70, 12);
	font-size: 1.2rem;
	padding: 0.2rem;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
	font-weight: bold;
}

.priority-Medium {
	background: rgb(172, 172, 18);
	font-size: 1.2rem;
	padding: 0.2rem;
	width: 100%;
	text-align: center;
	color: #1e213b;
	margin-bottom: 2rem;
	font-weight: bold;
}

.priority-High {
	background: rgb(141, 27, 27);
	font-size: 1.2rem;
	padding: 0.2rem;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
	font-weight: bold;
}

.todo-delete {
	display: flex;
	justify-content: flex-end;
}

.todo-delete-btn {
	padding: 0.3rem;
	cursor: pointer;
}

.todo-form-container {
	margin: 0 auto;
	width: 120rem;
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.todo-form {
	width: 120rem;
	max-width: 100%;
	padding: 2rem;
}

.todo-form input {
	height: 3rem;
	width: 100%;
	padding: 0.5rem;
}

.todo-form button {
	margin-top: 2rem;
	background: #9fa2ff;
	padding: 1rem;
	border: none;
	cursor: pointer;
}

.todo-content-container {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.todo-content ul {
	list-style: none;
}

.todo-content-image {
	width: 50rem;
	height: 30rem;
	background: #0e1021;
}

.todo-content img {
	width: 50rem;
	height: 30rem;
}

.todo-edit a {
	text-align: center;
	background: #9fa2ff;
	padding: 0.4rem;
	width: 5rem;
	display: block;
	text-decoration: none;
	color: #ffffff;
}

.todo-delete-button-content {
	text-align: center;
	margin: 0;
	background: red;
	padding: 1rem;
	width: 8rem;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	border: none;
}

.todo-stats {
	margin-bottom: 5rem;
}

.stats {
	margin-bottom: 1rem;
}

.stat-bar-bg {
	background: #121425;
	width: 100%;
	height: 1rem;
	border-radius: 1rem;
}

.stat-bar-progress-0 {
	width: 0%;
	height: 1rem;
	border-radius: 1rem;
	background: #e3336e;
}

.stat-bar-progress-25 {
	width: 25%;
	height: 1rem;
	border-radius: 1rem;
	background: #e3336e;
}

.stat-bar-progress-50 {
	width: 50%;
	height: 1rem;
	border-radius: 1rem;
	background: #e3336e;
}

.stat-bar-progress-75 {
	width: 75%;
	height: 1rem;
	border-radius: 1rem;
	background: #e3336e;
}

.stat-bar-progress-100 {
	width: 100%;
	height: 1rem;
	border-radius: 1rem;
	background: #e3336e;
}

.todo-form-btn {
	color: #ffffff;
}

select,
input {
	margin: 1rem 0 1rem 0;
}
